:root{
	/*cores*/
	--color1: #652CD1;
	--color2: #845EEE;
	--color3: #121826;
	--color4: #212936;
	--color5: #394150;
	--color6: #4D5562;
	--color7: #A1A1A9;
	--color8: #E5E7EB;

	/* fontes */
	--fonte-padrao: 'Inter', sans-serif;
}	



